body,html{
	width: 100%;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;

}
:root{
	--main:black;
	--main-font:white;
	--hover-font:blue;
}
body{
	text-align: center;
	box-sizing: border-box;
	font-size: 15px;
	font-family: 'Josefin Sans', sans-serif;
}


/*----bootstrap-----------*/
main{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: solid;
	background-image: url(../img/ciudad.jpg);

}
.centro{
	display: flex;
	align-items: center;
}
.ccentro_c{
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
.a-media{
	height: 50%;
}
.a-completa{
	height: 100%;
}
.a-cuarto{
	height: 15%
}
.a-3-4{
	height: 75%;
}
.b-completa{
	width: 100%;
}
nav{
	height: 10%;
	background-color: black;
	
}
.hero{
	height: 100%;
	
	
}
.cuadro{
	width: 100%;
	height: 100%;
	
}
.hola{

	color:var(--main-font);
	
}

.imagen img{
	border-radius: 50%;
	width: 100%;
}
.quien{
	background-color: blue;
}
.experiencia{
	background-color: red;
}
.tecnologias{
	background-color: pink;
}
.hobbies{
	background-color: purple;
}

/*----dibujos-----*/

.flecha-superior{
	width: 40px;
	height: 40px;
	background-color: white;
}
.flecha-inferior{
	width: 0;
	height: 0;
	border-left: 50px solid  transparent;
     border-top: 75px solid white;
     border-right: 50px solid transparent;
	
}

/*----dibujos-----*/
@media (max-width: 425px ) {
	
}

@media (max-width: 425px) {
  main{
		background-color: var(--main);
		background-image:none;
	}
	
}

/*-------MEdia queryes*/


/*-------MEdia queryes*/
/*----bootstrap-----------*/
/*

.hero{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:25vh 25vh 25vh 25vh;
	background-image: url(../img/ciudad.jpg);


}
.yo,.hola,.item2,.item3,.item4{
	display: flex;
	justify-content: center;
	align-items: center;
}

.yo{

	grid-column:2/4;
	grid-row:2/3;
}
.yo img{
	height: 100%;
	border-radius: 50%;
}
.hola{
	color:var(--main-font);
	grid-column:2/4;
	grid-row:3/4;
	font-size: 2em;
}
.menu{
	grid-column:1/5;
	grid-row:1;
	display: grid;
	grid-template-columns:10% 30% 20% 30% 10%;
	grid-template-rows:33% 33% 33%;
	color:var(--main-font);

	
}
.item1,.item2,.item3,.item4,.item5{
	background-color: var(--main);

}


.item1{
	grid-column:1/2;
	grid-row:1/2;
	
}
.item2{
	grid-column:2/3;
	grid-row:1/2;
	font-size: 1.2em;
	
}
.item3{
	grid-column:3/4;
	grid-row:1/2;
	font-size: 1.8em;

}
.item4{
	grid-column:4/5;
	grid-row:1/2;
	font-size: 1.2em;
	
}
.item5{
	grid-column:5/6;
	grid-row:1/2;
	
}
.item2,.item4{
	display: grid;
	grid-template-columns:1fr 1fr;
}
.item2 a,.item4 a{
	color:var(--main-font);
	text-decoration: none;
}
*/